<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <section>
        <div class="main">
            <div id="file_uploader">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="csv">
                    <input type="submit" value="upload" class="upload_button">
                </form>
            </div>
        </div>
        <div class="file_viewer"></div>
    </section>
</body>
</html>